# COVID-19 - A Study of Imperfect Data

### Step 1: Gather the virus data (confirmed, death, recovered) from the JH github repo and combine

In [1]:
# COVID-19 github files

fbase = r'C:/Users/jshaf/GitHub/COVID-19/csse_covid_19_data/csse_covid_19_time_series/'
f1 = fbase + r'time_series_19-covid-Confirmed.csv'
f2 = fbase + r'time_series_19-covid-Deaths.csv'
f3 = fbase + r'time_series_19-covid-Recovered.csv'

In [2]:
# Versions of this notebook
# v1 - Assemble the time series for confirmed, deaths, and recoveries into a single, 
#      long-file format.
# v2 - Begin checking that the conditions for merge don't drop data; place names are
#      changing, e.g. from just US state to county, state codes.

In [3]:
import pandas as pd

In [4]:
df_confirmed = pd.read_csv(f1)
df_deaths    = pd.read_csv(f2)
df_recovered = pd.read_csv(f3)

In [5]:
type(df_confirmed)

pandas.core.frame.DataFrame

In [6]:
# Check that the location columns will line up for merge later
df_locations = pd.DataFrame(columns=['provincestate_confirmed','countryregion_confirmed'])
#df_confirmed.columns

df_locations[['provincestate_confirmed','countryregion_confirmed']] = df_confirmed[['Province/State','Country/Region']]
df_locations[['provincestate_deaths',   'countryregion_deaths']]    = df_deaths[['Province/State','Country/Region']]
df_locations[['provincestate_recovered','countryregion_recovered']] = df_recovered[['Province/State','Country/Region']]

In [7]:
df_locations.fillna('no text',inplace=True)
df_locations.head()

,provincestate_confirmed,countryregion_confirmed,provincestate_deaths,countryregion_deaths,provincestate_recovered,countryregion_recovered
0,no text,Thailand,no text,Thailand,no text,Thailand
1,no text,Japan,no text,Japan,no text,Japan
2,no text,Singapore,no text,Singapore,no text,Singapore
3,no text,Nepal,no text,Nepal,no text,Nepal
4,no text,Malaysia,no text,Malaysia,no text,Malaysia

In [8]:
def check_match(s: pd.core.series.Series) -> pd.core.series.Series:
    '''Check that all Province/State matches in c, r, and d files
       Check that all Country/Region matches in c, r, and d files
       Return a flag True if isMisMatch
    '''

    if ((s['provincestate_confirmed'] == s['provincestate_recovered']) & \
        (s['provincestate_confirmed'] == s['provincestate_deaths']) &\
        (s['countryregion_confirmed'] == s['countryregion_recovered']) & \
        (s['countryregion_confirmed'] == s['countryregion_deaths'])):
        s['isMisMatch'] = False 
    else:
        print("mismatch on row!\n{}\n".format(s))
        s['isMisMatch'] = True
    return s


df_locations = df_locations.apply(check_match, axis=1)

# 2020.03.15 This check flagged that 4 items were out of order: Aruba, Canada (Diamond Princess), Guinea, Kenya
#   However, on inspection, all 4 have line items they're just out of order.
#   TODO: Today, let this go, but this check should be refactored so that it checks content and ignores order.

print("\n\nNumber of mismatched location columns: {}".format(df_locations['isMisMatch'].sum()))
print(" This indicates that the 3 files (confirmed, recovered, deaths) may have different countries listed.")
print(" Depending on how the data is merged, some data could be lost.")

mismatch on row!
provincestate_confirmed    no text
countryregion_confirmed     Guinea
provincestate_deaths       no text
countryregion_deaths        Guinea
provincestate_recovered    no text
countryregion_recovered      Kenya
Name: 410, dtype: object

mismatch on row!
provincestate_confirmed    Grand Princess
countryregion_confirmed            Canada
provincestate_deaths       Grand Princess
countryregion_deaths               Canada
provincestate_recovered           no text
countryregion_recovered            Guinea
Name: 411, dtype: object

mismatch on row!
provincestate_confirmed           no text
countryregion_confirmed             Kenya
provincestate_deaths              no text
countryregion_deaths                Kenya
provincestate_recovered    Grand Princess
countryregion_recovered            Canada
Name: 412, dtype: object



Number of mismatched location columns: 3
 This indicates that the 3 files (confirmed, recovered, deaths) may have different countries listed.
 Depending on how the data is merged, some data could be lost.

In [9]:
def wide_to_long(dfin: pd.core.frame.DataFrame, case_type: str) -> pd.core.frame.DataFrame:
    '''Melt a wide time series into a long data frame
        INPUT:      dfin      DataFrame
        OUTPUT:               DataFrame
    '''
    orig_var_list = dfin.columns
    id_varlist = ['Province/State','Country/Region','Lat','Long']  # known from previous work with dataset
    
    val_varlist = orig_var_list.drop(id_varlist)
    
    dfc_melted = pd.melt(dfin,id_vars=id_varlist,value_vars=val_varlist)
    
    # case_type is expected to be one of Confirmed, Deaths, Recovered
    dfc_melted.columns=(['Province/State','Country/Region','Lat','Long','Date',case_type])
    
    return dfc_melted

In [10]:
dwide_c = wide_to_long(df_confirmed,"Confirmed")
dwide_c.head()

  Province/State Country/Region      Lat      Long     Date  Confirmed
0            NaN       Thailand  15.0000  101.0000  1/22/20          2
1            NaN          Japan  36.0000  138.0000  1/22/20          2
2            NaN      Singapore   1.2833  103.8333  1/22/20          0
3            NaN          Nepal  28.1667   84.2500  1/22/20          0
4            NaN       Malaysia   2.5000  112.5000  1/22/20          0

In [11]:
dwide_d = wide_to_long(df_deaths,"Deaths")
dwide_d.head()

  Province/State Country/Region      Lat      Long     Date  Deaths
0            NaN       Thailand  15.0000  101.0000  1/22/20       0
1            NaN          Japan  36.0000  138.0000  1/22/20       0
2            NaN      Singapore   1.2833  103.8333  1/22/20       0
3            NaN          Nepal  28.1667   84.2500  1/22/20       0
4            NaN       Malaysia   2.5000  112.5000  1/22/20       0

In [12]:
dwide_r = wide_to_long(df_recovered,"Recovered")
dwide_r.head()

  Province/State Country/Region      Lat      Long     Date  Recovered
0            NaN       Thailand  15.0000  101.0000  1/22/20          0
1            NaN          Japan  36.0000  138.0000  1/22/20          0
2            NaN      Singapore   1.2833  103.8333  1/22/20          0
3            NaN          Nepal  28.1667   84.2500  1/22/20          0
4            NaN       Malaysia   2.5000  112.5000  1/22/20          0

In [13]:
# merge the framges

d2 = dwide_c.merge(dwide_d,on=['Province/State','Country/Region','Lat','Long','Date'],\
                   how='left')

d2 = d2.merge(dwide_r,on=['Province/State','Country/Region','Lat','Long','Date'],\
              how='left')

In [14]:
d2.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered
0,NaN,Thailand,15.0000,101.0000,1/22/20,2,0,0
1,NaN,Japan,36.0000,138.0000,1/22/20,2,0,0
2,NaN,Singapore,1.2833,103.8333,1/22/20,0,0,0
3,NaN,Nepal,28.1667,84.2500,1/22/20,0,0,0
4,NaN,Malaysia,2.5000,112.5000,1/22/20,0,0,0

In [15]:
# convert "Mainland China" to "China"
d2['Country/Region'] = d2['Country/Region'].replace({'Mainland China':'China', 'US':'United States'})

In [16]:
# Save to file for further data analysis, e.g. combining with other information.
import time
ts = time.gmtime()
mytimestamp = time.strftime("%Y-%m-%d_%H%M%S", ts)
#print(time.strftime("%Y-%m-%d %H:%M:%S", ts))

## Attention -- this is UTC time

print(mytimestamp)

# 2020-01-03 09:25:18
fname = "consolidated_COVID-19_" + mytimestamp + "UTC.csv"
print(fname)

2020-03-20_024213
consolidated_COVID-19_2020-03-20_024213UTC.csv

In [17]:
d2.to_csv(fname,index=False)

In [18]:
# also declare it to be "most recent" in preparation for the next step
d2.to_csv('most_recent_COVID-19.csv',index=False)