# COVID-19 - A Study of Imperfect Data

### Step 1: Gather the virus data (confirmed, death, recovered) from the JH github repo and combine

In [6]:
# COVID-19 github files

fbase = r'C:/Users/jshaf/GitHub/COVID-19/csse_covid_19_data/csse_covid_19_time_series/'

# Filenames changed
#f1 = fbase + r'time_series_19-covid-Confirmed.csv'
#f2 = fbase + r'time_series_19-covid-Deaths.csv'
#f3 = fbase + r'time_series_19-covid-Recovered.csv'

f1 = fbase + r'time_series_covid19_confirmed_global.csv'
f2 = fbase + r'time_series_covid19_deaths_global.csv'
f3 = fbase + r'time_series_covid19_recovered_global.csv'

In [7]:
# Versions of this notebook
# v1 - Assemble the time series for confirmed, deaths, and recoveries into a single, 
#      long-file format.
# v2 - Begin checking that the conditions for merge don't drop data; place names are
#      changing, e.g. from just US state to county, state codes.

In [8]:
import pandas as pd

In [9]:
df_confirmed = pd.read_csv(f1)
df_deaths    = pd.read_csv(f2)
df_recovered = pd.read_csv(f3)

In [10]:
type(df_confirmed)

pandas.core.frame.DataFrame

In [11]:
# Check that the location columns will line up for merge later
df_locations = pd.DataFrame(columns=['provincestate_confirmed','countryregion_confirmed'])
#df_confirmed.columns

df_locations[['provincestate_confirmed','countryregion_confirmed']] = df_confirmed[['Province/State','Country/Region']]
df_locations[['provincestate_deaths',   'countryregion_deaths']]    = df_deaths[['Province/State','Country/Region']]
df_locations[['provincestate_recovered','countryregion_recovered']] = df_recovered[['Province/State','Country/Region']]

In [12]:
df_locations.fillna('no text',inplace=True)
df_locations.head()

,provincestate_confirmed,countryregion_confirmed,provincestate_deaths,countryregion_deaths,provincestate_recovered,countryregion_recovered
0,no text,Afghanistan,no text,Afghanistan,no text,Afghanistan
1,no text,Albania,no text,Albania,no text,Albania
2,no text,Algeria,no text,Algeria,no text,Algeria
3,no text,Andorra,no text,Andorra,no text,Andorra
4,no text,Angola,no text,Angola,no text,Angola

In [13]:
def check_match(s: pd.core.series.Series) -> pd.core.series.Series:
    '''Check that all Province/State matches in c, r, and d files
       Check that all Country/Region matches in c, r, and d files
       Return a flag True if isMisMatch
    '''

    if ((s['provincestate_confirmed'] == s['provincestate_recovered']) & \
        (s['provincestate_confirmed'] == s['provincestate_deaths']) &\
        (s['countryregion_confirmed'] == s['countryregion_recovered']) & \
        (s['countryregion_confirmed'] == s['countryregion_deaths'])):
        s['isMisMatch'] = False 
    else:
        print("mismatch on row!\n{}\n".format(s))
        s['isMisMatch'] = True
    return s


df_locations = df_locations.apply(check_match, axis=1)

# 2020.03.15 This check flagged that 4 items were out of order: Aruba, Canada (Diamond Princess), Guinea, Kenya
#   However, on inspection, all 4 have line items they're just out of order.
#   TODO: Today, let this go, but this check should be refactored so that it checks content and ignores order.

print("\n\nNumber of mismatched location columns: {}".format(df_locations['isMisMatch'].sum()))
print(" This indicates that the 3 files (confirmed, recovered, deaths) may have different countries listed.")
print(" Depending on how the data is merged, some data could be lost.")

mismatch on row!
provincestate_confirmed    no text
countryregion_confirmed      Benin
provincestate_deaths       no text
countryregion_deaths         Benin
provincestate_recovered    no text
countryregion_recovered     Belize
Name: 24, dtype: object

mismatch on row!
provincestate_confirmed    no text
countryregion_confirmed     Bhutan
provincestate_deaths       no text
countryregion_deaths        Bhutan
provincestate_recovered    no text
countryregion_recovered      Benin
Name: 25, dtype: object

mismatch on row!
provincestate_confirmed    no text
countryregion_confirmed    Bolivia
provincestate_deaths       no text
countryregion_deaths       Bolivia
provincestate_recovered    no text
countryregion_recovered     Bhutan
Name: 26, dtype: object

mismatch on row!
provincestate_confirmed                   no text
countryregion_confirmed    Bosnia and Herzegovina
provincestate_deaths                      no text
countryregion_deaths       Bosnia and Herzegovina
provincestate_recovered                   no text
countryregion_recovered                   Bolivia
Name: 27, dtype: object

mismatch on row!
provincestate_confirmed                   no text
countryregion_confirmed                    Brazil
provincestate_deaths                      no text
countryregion_deaths                       Brazil
provincestate_recovered                   no text
countryregion_recovered    Bosnia and Herzegovina
Name: 28, dtype: object

mismatch on row!
provincestate_confirmed    no text
countryregion_confirmed     Brunei
provincestate_deaths       no text
countryregion_deaths        Brunei
provincestate_recovered    no text
countryregion_recovered     Brazil
Name: 29, dtype: object

mismatch on row!
provincestate_confirmed     no text
countryregion_confirmed    Bulgaria
provincestate_deaths        no text
countryregion_deaths       Bulgaria
provincestate_recovered     no text
countryregion_recovered      Brunei
Name: 30, dtype: object

mismatch on row!
provincestate_confirmed         no text
countryregion_confirmed    Burkina Faso
provincestate_deaths            no text
countryregion_deaths       Burkina Faso
provincestate_recovered         no text
countryregion_recovered        Bulgaria
Name: 31, dtype: object

mismatch on row!
provincestate_confirmed         no text
countryregion_confirmed      Cabo Verde
provincestate_deaths            no text
countryregion_deaths         Cabo Verde
provincestate_recovered         no text
countryregion_recovered    Burkina Faso
Name: 32, dtype: object

mismatch on row!
provincestate_confirmed       no text
countryregion_confirmed      Cambodia
provincestate_deaths          no text
countryregion_deaths         Cambodia
provincestate_recovered       no text
countryregion_recovered    Cabo Verde
Name: 33, dtype: object

mismatch on row!
provincestate_confirmed     no text
countryregion_confirmed    Cameroon
provincestate_deaths        no text
countryregion_deaths       Cameroon
provincestate_recovered     no text
countryregion_recovered    Cambodia
Name: 34, dtype: object

mismatch on row!
provincestate_confirmed     Alberta
countryregion_confirmed      Canada
provincestate_deaths        Alberta
countryregion_deaths         Canada
provincestate_recovered     no text
countryregion_recovered    Cameroon
Name: 35, dtype: object

mismatch on row!
provincestate_confirmed    British Columbia
countryregion_confirmed              Canada
provincestate_deaths       British Columbia
countryregion_deaths                 Canada
provincestate_recovered             no text
countryregion_recovered              Canada
Name: 36, dtype: object

mismatch on row!
provincestate_confirmed              Grand Princess
countryregion_confirmed                      Canada
provincestate_deaths                 Grand Princess
countryregion_deaths                         Canada
provincestate_recovered                     no text
countryregion_recovered    Central African Republic
Name: 37, dtype: object

mismatch on row!
provincestate_confirmed    Manitoba
countryregion_confirmed      Canada
provincestate_deaths       Manitoba
countryregion_deaths         Canada
provincestate_recovered     no text
countryregion_recovered        Chad
Name: 38, dtype: object

mismatch on row!
provincestate_confirmed    New Brunswick
countryregion_confirmed           Canada
provincestate_deaths       New Brunswick
countryregion_deaths              Canada
provincestate_recovered          no text
countryregion_recovered            Chile
Name: 39, dtype: object

mismatch on row!
provincestate_confirmed    Newfoundland and Labrador
countryregion_confirmed                       Canada
provincestate_deaths       Newfoundland and Labrador
countryregion_deaths                          Canada
provincestate_recovered                        Anhui
countryregion_recovered                        China
Name: 40, dtype: object

mismatch on row!
provincestate_confirmed    Nova Scotia
countryregion_confirmed         Canada
provincestate_deaths       Nova Scotia
countryregion_deaths            Canada
provincestate_recovered        Beijing
countryregion_recovered          China
Name: 41, dtype: object

mismatch on row!
provincestate_confirmed      Ontario
countryregion_confirmed       Canada
provincestate_deaths         Ontario
countryregion_deaths          Canada
provincestate_recovered    Chongqing
countryregion_recovered        China
Name: 42, dtype: object

mismatch on row!
provincestate_confirmed    Prince Edward Island
countryregion_confirmed                  Canada
provincestate_deaths       Prince Edward Island
countryregion_deaths                     Canada
provincestate_recovered                  Fujian
countryregion_recovered                   China
Name: 43, dtype: object

mismatch on row!
provincestate_confirmed    Quebec
countryregion_confirmed    Canada
provincestate_deaths       Quebec
countryregion_deaths       Canada
provincestate_recovered     Gansu
countryregion_recovered     China
Name: 44, dtype: object

mismatch on row!
provincestate_confirmed    Saskatchewan
countryregion_confirmed          Canada
provincestate_deaths       Saskatchewan
countryregion_deaths             Canada
provincestate_recovered       Guangdong
countryregion_recovered           China
Name: 45, dtype: object

mismatch on row!
provincestate_confirmed                     no text
countryregion_confirmed    Central African Republic
provincestate_deaths                        no text
countryregion_deaths       Central African Republic
provincestate_recovered                     Guangxi
countryregion_recovered                       China
Name: 46, dtype: object

mismatch on row!
provincestate_confirmed    no text
countryregion_confirmed       Chad
provincestate_deaths       no text
countryregion_deaths          Chad
provincestate_recovered    Guizhou
countryregion_recovered      China
Name: 47, dtype: object

mismatch on row!
provincestate_confirmed    no text
countryregion_confirmed      Chile
provincestate_deaths       no text
countryregion_deaths         Chile
provincestate_recovered     Hainan
countryregion_recovered      China
Name: 48, dtype: object

mismatch on row!
provincestate_confirmed    Anhui
countryregion_confirmed    China
provincestate_deaths       Anhui
countryregion_deaths       China
provincestate_recovered    Hebei
countryregion_recovered    China
Name: 49, dtype: object

mismatch on row!
provincestate_confirmed         Beijing
countryregion_confirmed           China
provincestate_deaths            Beijing
countryregion_deaths              China
provincestate_recovered    Heilongjiang
countryregion_recovered           China
Name: 50, dtype: object

mismatch on row!
provincestate_confirmed    Chongqing
countryregion_confirmed        China
provincestate_deaths       Chongqing
countryregion_deaths           China
provincestate_recovered        Henan
countryregion_recovered        China
Name: 51, dtype: object

mismatch on row!
provincestate_confirmed       Fujian
countryregion_confirmed        China
provincestate_deaths          Fujian
countryregion_deaths           China
provincestate_recovered    Hong Kong
countryregion_recovered        China
Name: 52, dtype: object

mismatch on row!
provincestate_confirmed    Gansu
countryregion_confirmed    China
provincestate_deaths       Gansu
countryregion_deaths       China
provincestate_recovered    Hubei
countryregion_recovered    China
Name: 53, dtype: object

mismatch on row!
provincestate_confirmed    Guangdong
countryregion_confirmed        China
provincestate_deaths       Guangdong
countryregion_deaths           China
provincestate_recovered        Hunan
countryregion_recovered        China
Name: 54, dtype: object

mismatch on row!
provincestate_confirmed           Guangxi
countryregion_confirmed             China
provincestate_deaths              Guangxi
countryregion_deaths                China
provincestate_recovered    Inner Mongolia
countryregion_recovered             China
Name: 55, dtype: object

mismatch on row!
provincestate_confirmed    Guizhou
countryregion_confirmed      China
provincestate_deaths       Guizhou
countryregion_deaths         China
provincestate_recovered    Jiangsu
countryregion_recovered      China
Name: 56, dtype: object

mismatch on row!
provincestate_confirmed     Hainan
countryregion_confirmed      China
provincestate_deaths        Hainan
countryregion_deaths         China
provincestate_recovered    Jiangxi
countryregion_recovered      China
Name: 57, dtype: object

mismatch on row!
provincestate_confirmed    Hebei
countryregion_confirmed    China
provincestate_deaths       Hebei
countryregion_deaths       China
provincestate_recovered    Jilin
countryregion_recovered    China
Name: 58, dtype: object

mismatch on row!
provincestate_confirmed    Heilongjiang
countryregion_confirmed           China
provincestate_deaths       Heilongjiang
countryregion_deaths              China
provincestate_recovered        Liaoning
countryregion_recovered           China
Name: 59, dtype: object

mismatch on row!
provincestate_confirmed    Henan
countryregion_confirmed    China
provincestate_deaths       Henan
countryregion_deaths       China
provincestate_recovered    Macau
countryregion_recovered    China
Name: 60, dtype: object

mismatch on row!
provincestate_confirmed    Hong Kong
countryregion_confirmed        China
provincestate_deaths       Hong Kong
countryregion_deaths           China
provincestate_recovered      Ningxia
countryregion_recovered        China
Name: 61, dtype: object

mismatch on row!
provincestate_confirmed      Hubei
countryregion_confirmed      China
provincestate_deaths         Hubei
countryregion_deaths         China
provincestate_recovered    Qinghai
countryregion_recovered      China
Name: 62, dtype: object

mismatch on row!
provincestate_confirmed      Hunan
countryregion_confirmed      China
provincestate_deaths         Hunan
countryregion_deaths         China
provincestate_recovered    Shaanxi
countryregion_recovered      China
Name: 63, dtype: object

mismatch on row!
provincestate_confirmed    Inner Mongolia
countryregion_confirmed             China
provincestate_deaths       Inner Mongolia
countryregion_deaths                China
provincestate_recovered          Shandong
countryregion_recovered             China
Name: 64, dtype: object

mismatch on row!
provincestate_confirmed     Jiangsu
countryregion_confirmed       China
provincestate_deaths        Jiangsu
countryregion_deaths          China
provincestate_recovered    Shanghai
countryregion_recovered       China
Name: 65, dtype: object

mismatch on row!
provincestate_confirmed    Jiangxi
countryregion_confirmed      China
provincestate_deaths       Jiangxi
countryregion_deaths         China
provincestate_recovered     Shanxi
countryregion_recovered      China
Name: 66, dtype: object

mismatch on row!
provincestate_confirmed      Jilin
countryregion_confirmed      China
provincestate_deaths         Jilin
countryregion_deaths         China
provincestate_recovered    Sichuan
countryregion_recovered      China
Name: 67, dtype: object

mismatch on row!
provincestate_confirmed    Liaoning
countryregion_confirmed       China
provincestate_deaths       Liaoning
countryregion_deaths          China
provincestate_recovered     Tianjin
countryregion_recovered       China
Name: 68, dtype: object

mismatch on row!
provincestate_confirmed    Macau
countryregion_confirmed    China
provincestate_deaths       Macau
countryregion_deaths       China
provincestate_recovered    Tibet
countryregion_recovered    China
Name: 69, dtype: object

mismatch on row!
provincestate_confirmed     Ningxia
countryregion_confirmed       China
provincestate_deaths        Ningxia
countryregion_deaths          China
provincestate_recovered    Xinjiang
countryregion_recovered       China
Name: 70, dtype: object

mismatch on row!
provincestate_confirmed    Qinghai
countryregion_confirmed      China
provincestate_deaths       Qinghai
countryregion_deaths         China
provincestate_recovered     Yunnan
countryregion_recovered      China
Name: 71, dtype: object

mismatch on row!
provincestate_confirmed     Shaanxi
countryregion_confirmed       China
provincestate_deaths        Shaanxi
countryregion_deaths          China
provincestate_recovered    Zhejiang
countryregion_recovered       China
Name: 72, dtype: object

mismatch on row!
provincestate_confirmed    Shandong
countryregion_confirmed       China
provincestate_deaths       Shandong
countryregion_deaths          China
provincestate_recovered     no text
countryregion_recovered    Colombia
Name: 73, dtype: object

mismatch on row!
provincestate_confirmed               Shanghai
countryregion_confirmed                  China
provincestate_deaths                  Shanghai
countryregion_deaths                     China
provincestate_recovered                no text
countryregion_recovered    Congo (Brazzaville)
Name: 74, dtype: object

mismatch on row!
provincestate_confirmed              Shanxi
countryregion_confirmed               China
provincestate_deaths                 Shanxi
countryregion_deaths                  China
provincestate_recovered             no text
countryregion_recovered    Congo (Kinshasa)
Name: 75, dtype: object

mismatch on row!
provincestate_confirmed       Sichuan
countryregion_confirmed         China
provincestate_deaths          Sichuan
countryregion_deaths            China
provincestate_recovered       no text
countryregion_recovered    Costa Rica
Name: 76, dtype: object

mismatch on row!
provincestate_confirmed          Tianjin
countryregion_confirmed            China
provincestate_deaths             Tianjin
countryregion_deaths               China
provincestate_recovered          no text
countryregion_recovered    Cote d'Ivoire
Name: 77, dtype: object

mismatch on row!
provincestate_confirmed      Tibet
countryregion_confirmed      China
provincestate_deaths         Tibet
countryregion_deaths         China
provincestate_recovered    no text
countryregion_recovered    Croatia
Name: 78, dtype: object

mismatch on row!
provincestate_confirmed            Xinjiang
countryregion_confirmed               China
provincestate_deaths               Xinjiang
countryregion_deaths                  China
provincestate_recovered             no text
countryregion_recovered    Diamond Princess
Name: 79, dtype: object

mismatch on row!
provincestate_confirmed     Yunnan
countryregion_confirmed      China
provincestate_deaths        Yunnan
countryregion_deaths         China
provincestate_recovered    no text
countryregion_recovered       Cuba
Name: 80, dtype: object

mismatch on row!
provincestate_confirmed    Zhejiang
countryregion_confirmed       China
provincestate_deaths       Zhejiang
countryregion_deaths          China
provincestate_recovered     no text
countryregion_recovered      Cyprus
Name: 81, dtype: object

mismatch on row!
provincestate_confirmed     no text
countryregion_confirmed    Colombia
provincestate_deaths        no text
countryregion_deaths       Colombia
provincestate_recovered     no text
countryregion_recovered     Czechia
Name: 82, dtype: object

mismatch on row!
provincestate_confirmed                no text
countryregion_confirmed    Congo (Brazzaville)
provincestate_deaths                   no text
countryregion_deaths       Congo (Brazzaville)
provincestate_recovered          Faroe Islands
countryregion_recovered                Denmark
Name: 83, dtype: object

mismatch on row!
provincestate_confirmed             no text
countryregion_confirmed    Congo (Kinshasa)
provincestate_deaths                no text
countryregion_deaths       Congo (Kinshasa)
provincestate_recovered           Greenland
countryregion_recovered             Denmark
Name: 84, dtype: object

mismatch on row!
provincestate_confirmed       no text
countryregion_confirmed    Costa Rica
provincestate_deaths          no text
countryregion_deaths       Costa Rica
provincestate_recovered       no text
countryregion_recovered       Denmark
Name: 85, dtype: object

mismatch on row!
provincestate_confirmed          no text
countryregion_confirmed    Cote d'Ivoire
provincestate_deaths             no text
countryregion_deaths       Cote d'Ivoire
provincestate_recovered          no text
countryregion_recovered         Djibouti
Name: 86, dtype: object

mismatch on row!
provincestate_confirmed     no text
countryregion_confirmed     Croatia
provincestate_deaths        no text
countryregion_deaths        Croatia
provincestate_recovered     no text
countryregion_recovered    Dominica
Name: 87, dtype: object

mismatch on row!
provincestate_confirmed               no text
countryregion_confirmed      Diamond Princess
provincestate_deaths                  no text
countryregion_deaths         Diamond Princess
provincestate_recovered               no text
countryregion_recovered    Dominican Republic
Name: 88, dtype: object

mismatch on row!
provincestate_confirmed    no text
countryregion_confirmed       Cuba
provincestate_deaths       no text
countryregion_deaths          Cuba
provincestate_recovered    no text
countryregion_recovered    Ecuador
Name: 89, dtype: object

mismatch on row!
provincestate_confirmed    no text
countryregion_confirmed     Cyprus
provincestate_deaths       no text
countryregion_deaths        Cyprus
provincestate_recovered    no text
countryregion_recovered      Egypt
Name: 90, dtype: object

mismatch on row!
provincestate_confirmed        no text
countryregion_confirmed        Czechia
provincestate_deaths           no text
countryregion_deaths           Czechia
provincestate_recovered        no text
countryregion_recovered    El Salvador
Name: 91, dtype: object

mismatch on row!
provincestate_confirmed        Faroe Islands
countryregion_confirmed              Denmark
provincestate_deaths           Faroe Islands
countryregion_deaths                 Denmark
provincestate_recovered              no text
countryregion_recovered    Equatorial Guinea
Name: 92, dtype: object

mismatch on row!
provincestate_confirmed    Greenland
countryregion_confirmed      Denmark
provincestate_deaths       Greenland
countryregion_deaths         Denmark
provincestate_recovered      no text
countryregion_recovered      Eritrea
Name: 93, dtype: object

mismatch on row!
provincestate_confirmed    no text
countryregion_confirmed    Denmark
provincestate_deaths       no text
countryregion_deaths       Denmark
provincestate_recovered    no text
countryregion_recovered    Estonia
Name: 94, dtype: object

mismatch on row!
provincestate_confirmed     no text
countryregion_confirmed    Djibouti
provincestate_deaths        no text
countryregion_deaths       Djibouti
provincestate_recovered     no text
countryregion_recovered    Eswatini
Name: 95, dtype: object

mismatch on row!
provincestate_confirmed               no text
countryregion_confirmed    Dominican Republic
provincestate_deaths                  no text
countryregion_deaths       Dominican Republic
provincestate_recovered               no text

mismatch on row!
provincestate_confirmed        no text
countryregion_confirmed    Netherlands
provincestate_deaths           no text
countryregion_deaths       Netherlands
provincestate_recovered        no text
countryregion_recovered          Niger
Name: 169, dtype: object

mismatch on row!
provincestate_confirmed        no text
countryregion_confirmed    New Zealand
provincestate_deaths           no text
countryregion_deaths       New Zealand
provincestate_recovered        no text
countryregion_recovered        Nigeria
Name: 170, dtype: object

mismatch on row!
provincestate_confirmed            no text
countryregion_confirmed          Nicaragua
provincestate_deaths               no text
countryregion_deaths             Nicaragua
provincestate_recovered            no text
countryregion_recovered    North Macedonia
Name: 171, dtype: object

mismatch on row!
provincestate_confirmed    no text
countryregion_confirmed      Niger
provincestate_deaths       no text
countryregion_deaths         Niger
provincestate_recovered    no text
countryregion_recovered     Norway
Name: 172, dtype: object

mismatch on row!
provincestate_confirmed    no text
countryregion_confirmed    Nigeria
provincestate_deaths       no text
countryregion_deaths       Nigeria
provincestate_recovered    no text
countryregion_recovered       Oman
Name: 173, dtype: object

mismatch on row!
provincestate_confirmed            no text
countryregion_confirmed    North Macedonia
provincestate_deaths               no text
countryregion_deaths       North Macedonia
provincestate_recovered            no text
countryregion_recovered           Pakistan
Name: 174, dtype: object

mismatch on row!
provincestate_confirmed    no text
countryregion_confirmed     Norway
provincestate_deaths       no text
countryregion_deaths        Norway
provincestate_recovered    no text
countryregion_recovered     Panama
Name: 175, dtype: object

mismatch on row!
provincestate_confirmed             no text
countryregion_confirmed                Oman
provincestate_deaths                no text
countryregion_deaths                   Oman
provincestate_recovered             no text
countryregion_recovered    Papua New Guinea
Name: 176, dtype: object

mismatch on row!
provincestate_confirmed     no text
countryregion_confirmed    Pakistan
provincestate_deaths        no text
countryregion_deaths       Pakistan
provincestate_recovered     no text
countryregion_recovered    Paraguay
Name: 177, dtype: object

mismatch on row!
provincestate_confirmed    no text
countryregion_confirmed     Panama
provincestate_deaths       no text
countryregion_deaths        Panama
provincestate_recovered    no text
countryregion_recovered       Peru
Name: 178, dtype: object

mismatch on row!
provincestate_confirmed             no text
countryregion_confirmed    Papua New Guinea
provincestate_deaths                no text
countryregion_deaths       Papua New Guinea
provincestate_recovered             no text
countryregion_recovered         Philippines
Name: 179, dtype: object

mismatch on row!
provincestate_confirmed     no text
countryregion_confirmed    Paraguay
provincestate_deaths        no text
countryregion_deaths       Paraguay
provincestate_recovered     no text
countryregion_recovered      Poland
Name: 180, dtype: object

mismatch on row!
provincestate_confirmed     no text
countryregion_confirmed        Peru
provincestate_deaths        no text
countryregion_deaths           Peru
provincestate_recovered     no text
countryregion_recovered    Portugal
Name: 181, dtype: object

mismatch on row!
provincestate_confirmed        no text
countryregion_confirmed    Philippines
provincestate_deaths           no text
countryregion_deaths       Philippines
provincestate_recovered        no text
countryregion_recovered          Qatar
Name: 182, dtype: object

mismatch on row!
provincestate_confirmed    no text
countryregion_confirmed     Poland
provincestate_deaths       no text
countryregion_deaths        Poland
provincestate_recovered    no text
countryregion_recovered    Romania
Name: 183, dtype: object

mismatch on row!
provincestate_confirmed     no text
countryregion_confirmed    Portugal
provincestate_deaths        no text
countryregion_deaths       Portugal
provincestate_recovered     no text
countryregion_recovered      Russia
Name: 184, dtype: object

mismatch on row!
provincestate_confirmed    no text
countryregion_confirmed      Qatar
provincestate_deaths       no text
countryregion_deaths         Qatar
provincestate_recovered    no text
countryregion_recovered     Rwanda
Name: 185, dtype: object

mismatch on row!
provincestate_confirmed                  no text
countryregion_confirmed                  Romania
provincestate_deaths                     no text
countryregion_deaths                     Romania
provincestate_recovered                  no text
countryregion_recovered    Saint Kitts and Nevis
Name: 186, dtype: object

mismatch on row!
provincestate_confirmed        no text
countryregion_confirmed         Russia
provincestate_deaths           no text
countryregion_deaths            Russia
provincestate_recovered        no text
countryregion_recovered    Saint Lucia
Name: 187, dtype: object

mismatch on row!
provincestate_confirmed                             no text
countryregion_confirmed                              Rwanda
provincestate_deaths                                no text
countryregion_deaths                                 Rwanda
provincestate_recovered                             no text
countryregion_recovered    Saint Vincent and the Grenadines
Name: 188, dtype: object

mismatch on row!
provincestate_confirmed        no text
countryregion_confirmed    Saint Lucia
provincestate_deaths           no text
countryregion_deaths       Saint Lucia
provincestate_recovered        no text
countryregion_recovered     San Marino
Name: 189, dtype: object

mismatch on row!
provincestate_confirmed                             no text
countryregion_confirmed    Saint Vincent and the Grenadines
provincestate_deaths                                no text
countryregion_deaths       Saint Vincent and the Grenadines
provincestate_recovered                             no text
countryregion_recovered                        Saudi Arabia
Name: 190, dtype: object

mismatch on row!
provincestate_confirmed       no text
countryregion_confirmed    San Marino
provincestate_deaths          no text
countryregion_deaths       San Marino
provincestate_recovered       no text
countryregion_recovered       Senegal
Name: 191, dtype: object

mismatch on row!
provincestate_confirmed         no text
countryregion_confirmed    Saudi Arabia
provincestate_deaths            no text
countryregion_deaths       Saudi Arabia
provincestate_recovered         no text
countryregion_recovered          Serbia
Name: 192, dtype: object

mismatch on row!
provincestate_confirmed       no text
countryregion_confirmed       Senegal
provincestate_deaths          no text
countryregion_deaths          Senegal
provincestate_recovered       no text
countryregion_recovered    Seychelles
Name: 193, dtype: object

mismatch on row!
provincestate_confirmed      no text
countryregion_confirmed       Serbia
provincestate_deaths         no text
countryregion_deaths          Serbia
provincestate_recovered      no text
countryregion_recovered    Singapore
Name: 194, dtype: object

mismatch on row!
provincestate_confirmed       no text
countryregion_confirmed    Seychelles
provincestate_deaths          no text
countryregion_deaths       Seychelles
provincestate_recovered       no text
countryregion_recovered      Slovakia
Name: 195, dtype: object

mismatch on row!
provincestate_confirmed      no text
countryregion_confirmed    Singapore
provincestate_deaths         no text
countryregion_deaths       Singapore
provincestate_recovered      no text
countryregion_recovered     Slovenia
Name: 196, dtype: object

mismatch on row!
provincestate_confirmed     no text
countryregion_confirmed    Slovakia
provincestate_deaths        no text
countryregion_deaths       Slovakia
provincestate_recovered     no text
countryregion_recovered     Somalia
Name: 197, dtype: object

mismatch on row!
provincestate_confirmed         no text
countryregion_confirmed        Slovenia
provincestate_deaths            no text
countryregion_deaths           Slovenia
provincestate_recovered         no text
countryregion_recovered    South Africa
Name: 198, dtype: object

mismatch on row!
provincestate_confirmed    no text
countryregion_confirmed    Somalia
provincestate_deaths       no text
countryregion_deaths       Somalia
provincestate_recovered    no text
countryregion_recovered      Spain
Name: 199, dtype: object

mismatch on row!
provincestate_confirmed         no text
countryregion_confirmed    South Africa
provincestate_deaths            no text
countryregion_deaths       South Africa
provincestate_recovered         no text
countryregion_recovered       Sri Lanka
Name: 200, dtype: object

mismatch on row!
provincestate_confirmed    no text
countryregion_confirmed      Spain
provincestate_deaths       no text
countryregion_deaths         Spain
provincestate_recovered    no text
countryregion_recovered      Sudan
Name: 201, dtype: object

mismatch on row!
provincestate_confirmed      no text
countryregion_confirmed    Sri Lanka
provincestate_deaths         no text
countryregion_deaths       Sri Lanka
provincestate_recovered      no text
countryregion_recovered     Suriname
Name: 202, dtype: object

mismatch on row!
provincestate_confirmed    no text
countryregion_confirmed      Sudan
provincestate_deaths       no text
countryregion_deaths         Sudan
provincestate_recovered    no text
countryregion_recovered     Sweden
Name: 203, dtype: object

mismatch on row!
provincestate_confirmed        no text
countryregion_confirmed       Suriname
provincestate_deaths           no text
countryregion_deaths          Suriname
provincestate_recovered        no text
countryregion_recovered    Switzerland
Name: 204, dtype: object

mismatch on row!
provincestate_confirmed    no text
countryregion_confirmed     Sweden
provincestate_deaths       no text
countryregion_deaths        Sweden
provincestate_recovered    no text
countryregion_recovered      Syria
Name: 205, dtype: object

mismatch on row!
provincestate_confirmed        no text
countryregion_confirmed    Switzerland
provincestate_deaths           no text
countryregion_deaths       Switzerland
provincestate_recovered        no text
countryregion_recovered        Taiwan*
Name: 206, dtype: object

mismatch on row!
provincestate_confirmed     no text
countryregion_confirmed     Taiwan*
provincestate_deaths        no text
countryregion_deaths        Taiwan*
provincestate_recovered     no text
countryregion_recovered    Tanzania
Name: 207, dtype: object

mismatch on row!
provincestate_confirmed     no text
countryregion_confirmed    Tanzania
provincestate_deaths        no text
countryregion_deaths       Tanzania
provincestate_recovered     no text
countryregion_recovered    Thailand
Name: 208, dtype: object

mismatch on row!
provincestate_confirmed        no text
countryregion_confirmed       Thailand
provincestate_deaths           no text
countryregion_deaths          Thailand
provincestate_recovered        no text
countryregion_recovered    Timor-Leste
Name: 209, dtype: object

mismatch on row!
provincestate_confirmed      Diamond Princess
countryregion_confirmed                Canada
provincestate_deaths         Diamond Princess
countryregion_deaths                   Canada
provincestate_recovered               no text
countryregion_recovered    West Bank and Gaza
Name: 231, dtype: object

mismatch on row!
provincestate_confirmed     no text
countryregion_confirmed    Dominica
provincestate_deaths        no text
countryregion_deaths       Dominica
provincestate_recovered     no text
countryregion_recovered        Laos
Name: 232, dtype: object

mismatch on row!
provincestate_confirmed    no text
countryregion_confirmed    Grenada
provincestate_deaths       no text
countryregion_deaths       Grenada
provincestate_recovered    no text
countryregion_recovered     Kosovo
Name: 233, dtype: object

mismatch on row!
provincestate_confirmed       no text
countryregion_confirmed    Mozambique
provincestate_deaths          no text
countryregion_deaths       Mozambique
provincestate_recovered       no text
countryregion_recovered         Burma
Name: 234, dtype: object

mismatch on row!
provincestate_confirmed           no text
countryregion_confirmed             Syria
provincestate_deaths              no text
countryregion_deaths                Syria
provincestate_recovered          Anguilla
countryregion_recovered    United Kingdom
Name: 235, dtype: object

mismatch on row!
provincestate_confirmed                   no text
countryregion_confirmed               Timor-Leste
provincestate_deaths                      no text
countryregion_deaths                  Timor-Leste
provincestate_recovered    British Virgin Islands
countryregion_recovered            United Kingdom
Name: 236, dtype: object

mismatch on row!
provincestate_confirmed                     no text
countryregion_confirmed                      Belize
provincestate_deaths                        no text
countryregion_deaths                         Belize
provincestate_recovered    Turks and Caicos Islands
countryregion_recovered              United Kingdom
Name: 237, dtype: object

mismatch on row!
provincestate_confirmed     Recovered
countryregion_confirmed        Canada
provincestate_deaths        Recovered
countryregion_deaths           Canada
provincestate_recovered       no text
countryregion_recovered    MS Zaandam
Name: 238, dtype: object

mismatch on row!
provincestate_confirmed    no text
countryregion_confirmed       Laos
provincestate_deaths       no text
countryregion_deaths          Laos
provincestate_recovered    no text
countryregion_recovered    no text
Name: 239, dtype: object

mismatch on row!
provincestate_confirmed    no text
countryregion_confirmed      Libya
provincestate_deaths       no text
countryregion_deaths         Libya
provincestate_recovered    no text
countryregion_recovered    no text
Name: 240, dtype: object

mismatch on row!
provincestate_confirmed               no text
countryregion_confirmed    West Bank and Gaza
provincestate_deaths                  no text
countryregion_deaths       West Bank and Gaza
provincestate_recovered               no text
countryregion_recovered               no text
Name: 241, dtype: object

mismatch on row!
provincestate_confirmed          no text
countryregion_confirmed    Guinea-Bissau
provincestate_deaths             no text
countryregion_deaths       Guinea-Bissau
provincestate_recovered          no text
countryregion_recovered          no text
Name: 242, dtype: object

mismatch on row!
provincestate_confirmed    no text
countryregion_confirmed       Mali
provincestate_deaths       no text
countryregion_deaths          Mali
provincestate_recovered    no text
countryregion_recovered    no text
Name: 243, dtype: object

mismatch on row!
provincestate_confirmed                  no text
countryregion_confirmed    Saint Kitts and Nevis
provincestate_deaths                     no text
countryregion_deaths       Saint Kitts and Nevis
provincestate_recovered                  no text
countryregion_recovered                  no text
Name: 244, dtype: object

mismatch on row!
provincestate_confirmed    Northwest Territories
countryregion_confirmed                   Canada
provincestate_deaths       Northwest Territories
countryregion_deaths                      Canada
provincestate_recovered                  no text
countryregion_recovered                  no text
Name: 245, dtype: object

mismatch on row!
provincestate_confirmed      Yukon
countryregion_confirmed     Canada
provincestate_deaths         Yukon
countryregion_deaths        Canada
provincestate_recovered    no text
countryregion_recovered    no text
Name: 246, dtype: object

mismatch on row!
provincestate_confirmed    no text
countryregion_confirmed     Kosovo
provincestate_deaths       no text
countryregion_deaths        Kosovo
provincestate_recovered    no text
countryregion_recovered    no text
Name: 247, dtype: object

mismatch on row!
provincestate_confirmed    no text
countryregion_confirmed      Burma
provincestate_deaths       no text
countryregion_deaths         Burma
provincestate_recovered    no text
countryregion_recovered    no text
Name: 248, dtype: object

mismatch on row!
provincestate_confirmed          Anguilla
countryregion_confirmed    United Kingdom
provincestate_deaths             Anguilla
countryregion_deaths       United Kingdom
provincestate_recovered           no text
countryregion_recovered           no text
Name: 249, dtype: object

mismatch on row!
provincestate_confirmed    British Virgin Islands
countryregion_confirmed            United Kingdom
provincestate_deaths       British Virgin Islands
countryregion_deaths               United Kingdom
provincestate_recovered                   no text
countryregion_recovered                   no text
Name: 250, dtype: object

mismatch on row!
provincestate_confirmed    Turks and Caicos Islands
countryregion_confirmed              United Kingdom
provincestate_deaths       Turks and Caicos Islands
countryregion_deaths                 United Kingdom
provincestate_recovered                     no text
countryregion_recovered                     no text
Name: 251, dtype: object

mismatch on row!
provincestate_confirmed       no text
countryregion_confirmed    MS Zaandam
provincestate_deaths          no text
countryregion_deaths       MS Zaandam
provincestate_recovered       no text
countryregion_recovered       no text
Name: 252, dtype: object



Number of mismatched location columns: 208
 This indicates that the 3 files (confirmed, recovered, deaths) may have different countries listed.
 Depending on how the data is merged, some data could be lost.

In [14]:
def wide_to_long(dfin: pd.core.frame.DataFrame, case_type: str) -> pd.core.frame.DataFrame:
    '''Melt a wide time series into a long data frame
        INPUT:      dfin      DataFrame
        OUTPUT:               DataFrame
    '''
    orig_var_list = dfin.columns
    id_varlist = ['Province/State','Country/Region','Lat','Long']  # known from previous work with dataset
    
    val_varlist = orig_var_list.drop(id_varlist)
    
    dfc_melted = pd.melt(dfin,id_vars=id_varlist,value_vars=val_varlist)
    
    # case_type is expected to be one of Confirmed, Deaths, Recovered
    dfc_melted.columns=(['Province/State','Country/Region','Lat','Long','Date',case_type])
    
    return dfc_melted

In [15]:
dwide_c = wide_to_long(df_confirmed,"Confirmed")
dwide_c.head()

  Province/State Country/Region      Lat     Long     Date  Confirmed
0            NaN    Afghanistan  33.0000  65.0000  1/22/20          0
1            NaN        Albania  41.1533  20.1683  1/22/20          0
2            NaN        Algeria  28.0339   1.6596  1/22/20          0
3            NaN        Andorra  42.5063   1.5218  1/22/20          0
4            NaN         Angola -11.2027  17.8739  1/22/20          0

In [16]:
dwide_d = wide_to_long(df_deaths,"Deaths")
dwide_d.head()

  Province/State Country/Region      Lat     Long     Date  Deaths
0            NaN    Afghanistan  33.0000  65.0000  1/22/20       0
1            NaN        Albania  41.1533  20.1683  1/22/20       0
2            NaN        Algeria  28.0339   1.6596  1/22/20       0
3            NaN        Andorra  42.5063   1.5218  1/22/20       0
4            NaN         Angola -11.2027  17.8739  1/22/20       0

In [17]:
dwide_r = wide_to_long(df_recovered,"Recovered")
dwide_r.head()

  Province/State Country/Region      Lat     Long     Date  Recovered
0            NaN    Afghanistan  33.0000  65.0000  1/22/20          0
1            NaN        Albania  41.1533  20.1683  1/22/20          0
2            NaN        Algeria  28.0339   1.6596  1/22/20          0
3            NaN        Andorra  42.5063   1.5218  1/22/20          0
4            NaN         Angola -11.2027  17.8739  1/22/20          0

In [18]:
# merge the framges

d2 = dwide_c.merge(dwide_d,on=['Province/State','Country/Region','Lat','Long','Date'],\
                   how='left')

d2 = d2.merge(dwide_r,on=['Province/State','Country/Region','Lat','Long','Date'],\
              how='left')

In [19]:
d2.head()

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered
0,NaN,Afghanistan,33.0000,65.0000,1/22/20,0,0,0.0
1,NaN,Albania,41.1533,20.1683,1/22/20,0,0,0.0
2,NaN,Algeria,28.0339,1.6596,1/22/20,0,0,0.0
3,NaN,Andorra,42.5063,1.5218,1/22/20,0,0,0.0
4,NaN,Angola,-11.2027,17.8739,1/22/20,0,0,0.0

In [20]:
# convert "Mainland China" to "China"
d2['Country/Region'] = d2['Country/Region'].replace({'Mainland China':'China', 'US':'United States'})

In [21]:
# Save to file for further data analysis, e.g. combining with other information.
import time
ts = time.gmtime()
mytimestamp = time.strftime("%Y-%m-%d_%H%M%S", ts)
#print(time.strftime("%Y-%m-%d %H:%M:%S", ts))

## Attention -- this is UTC time

print(mytimestamp)

# 2020-01-03 09:25:18
fname = "consolidated_COVID-19_" + mytimestamp + "UTC.csv"
print(fname)

2020-03-29_150114
consolidated_COVID-19_2020-03-29_150114UTC.csv

In [22]:
d2.to_csv(fname,index=False)

In [23]:
# also declare it to be "most recent" in preparation for the next step
d2.to_csv('most_recent_COVID-19.csv',index=False)